{include file="index/header" /}

<body>
    <!-- 中间 -->
    <div class="am-container">
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title">关于我们</h1>
            </div>
            <div class="am-article-bd">
                <p>ET图床成立于2018年5月。
                    <br> ET图床提供免费稳定的图片上传及外链服务。
                    <br> ET图床由于<a href="https://www.fungj.com">风之翼灵</a>开发设计。</p>
            </div>
        </article>
        <hr />
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title">服务条款 TOS</h1>
            </div>
            <div class="am-article-bd">
                <p>
                    <ul>
                        <li>在不违反当地法律法规的情况下，请随意使用本图床服务.</li>
                        <li>除违反服务条款之外, 所有图片均不被刪除, 即使是多年无任何流量的图片也不会删除.</li>
                        <li>我们提供无限图片存储空间和无限流量.</li>
                        <br>
                        <p>以下类型的图片均不允许上传至本网站:</p>
                        <li>侵权的图片, 包括侵犯个人私隐、企业版权等;</li>
                        <li>含有成人內容/擦边/偷拍/过分裸露情节的图片;</li>
                        <li>成人性用品的相关图片;</li>
                        <li>煽动暴力、宣扬宗教、种族主义、种族仇恨等;</li>
                        <li>含有恐怖、血腥场面的图片;</li>
                        <li>含有VPN相关信息的图片;</li>
                        <li>含有违规信息的二维码图片;</li>
                        <li>含有色情网站水印标记的图片;</li>
                        <li>其他非法图片(包括但不限于赌博、电脑病毒、木马、诈骗、假冒药品等非法行为);</li>
                        <li>违反中华人民共和国法律法规的图片;</li>
                        <li>违反美国、加拿大、欧盟法律法规的图片;</li>
                        <li>违反新加坡、台湾、香港等国家或地区法律法规的图片;</li>
                        <br>
                        <p>注意事项/其他条款</p>
                        <li>请勿滥用资源.</li>
                        <li>因二维码无法识别内容, 所有二维码图片都会被删除.</li>
                        <li>请不要多次重复的上传同一文件.</li>
                        <li>本网站外链权限仅限网页, 不适用于App软件调用.</li>
                        <li>即使图片不违规, 也禁止外链到色情/擦边/恶意/欺诈/反动等违法网站或App应用程序中.</li>
                        <li>我们可能会屏蔽一部分不符合规定的网站外链权限.</li>
                        <li>本图床仅供个人使用, 不支持企业产品图片展示.</li>
                        <li>若您需要上传企业产品图片欢迎使用我们的付费套餐.</li>
                        <li>管理员有权删除我们认为不合适的图片.</li>
                        <li>我们会保留随时变更或修改服务条款部份或全部內容的权利.</li>
                    </ul>
                </p>
            </div>
        </article>
        <hr />
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title">隐私</h1>
            </div>
            <div class="am-article-bd">
                <p>
                    <ul>
                        <li>请不要在本站上传有关个人信息的图片，因为本站为分享网站，您的个人隐私会因此遭到泄露.</li>
                        <li>如果您违反国家相关规定，我站有权利依法配合相关机关进行处理您的相关信息.</li>
                    </ul>
                </p>
            </div>
        </article>
        <hr />
    </div>
    <br />
    <br />
    <!-- 中间END -->
    {include file="index/footer" /}
</body>

</html>