<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="{:url('sysadmin/index')}"><span class="am-icon-home"></span> 首页</a></li>
                <li><a href="{:url('sysadmin/imgedit')}"><span class="am-icon-table"></span> 图片管理</a></li>
                <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 用户管理</a></li>
                <li><a href="{:url('sysadmin/highrisk_img')}"><span class="am-icon-th"></span> 高危图管理</a></li>
                <li><a href="#"><span class="am-icon-puzzle-piece"></span> 系统设置</a></li>
                <li><a href="{:url('sysadmin/logout')}"><span class="am-icon-sign-out"></span> 退出系统</a></li>
            </ul>
            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-tag"></span> wiki</p>
                    <p>如有问题，访问<a href="https://www.fungj.com">风之翼灵的博客</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->